<!DOCTYPE html>
<html>
	<head>
		<title> Coronavirus Timeline </title>

	</head>
	<body style="background: url(https://ae01.alicdn.com/kf/HTB1HThQyStYBeNjSspkq6zU8VXa3/colorful-Watercolor-Texture-backdrops-Vinyl-cloth-High-quality-Computer-print-wall-photo-studio-background.jpg_q50.jpg); background-size: 100% 100%;">
		<h1><p style='color:blue;'>Coronavirus Timeline &#9749;</p></h1>
			</br>
			<div>
				<p>
					12/31/2019----Chinese officials in Wuhan confirmed dozens of cases of pneumonia from unknown causes.

					1/7/2020-------The outbreak was identified as a new coronavirus with symptoms such as fever, dry cough, and shortness of breath. 

					1/11/2020-----China reported the first known death from coronavirus infected, a 61-year-old man in Wuhan.

					1/20/2020-----WHO report detailed the first confirmed cases outside China in Thailand, Japan, and South Korea.

					1/21/2020-----The United States announced its first confirmed coronavirus case--a man in his 30s in Washington state.

					1/23/2020-------China announced the first quarantine order, canceling all the flights, trains, and buses from Wuhan.

					1/30/2020-------WHO declared the outbreak a global public health emergency. 

					1/31/2020-------The White House announced that it would ban entry for most foreign nationals who had traveled to China within the last 14 days.

					2/2/2020---------The first coronavirus death reported outside China- a 44-year-old Wuhan resident who died in the Philippines.

					2/8/2020---------The first U.S citizen died from COVID-19 in Wuhan. 

					2/19/2020--------Iran reported two coronavirus cases. Officials confirmed that both patients died.

					2/24/2020--------The U.S stock market plummeted over coronavirus fears, especially the Dow Jones Industrial Average. 

					2/26/2020-------Brazil confirmed its first coronavirus case, the first in Latin America.

					2/29/2020-------President Donald Trump announced additional travel restrictions involving Iran and increased warnings about travel to Italy and South Korea. 

					3/6/2020---------Trump signed an 8.3 billion emergency spending package to combat the coronavirus outbreak.

					3/8/2020---------Italy issued a lockdown to quarantine around 16 million people in the country’s northern region.

					3/8/2020---------Confirmed cases in the U.S topped 500. 

					3/11/2020--------WHO announced that the new disease for which most people do not have immunity. 

					3/13/2020--------Trump declared a national state of emergency that could free up $50 billion to help fight the pandemic. 

					3/15/2020--------Numbers of confirmed cases in the U.S surpassed 3000 along with school closures announced by 29 states.

					3/16/2020--------Wall Street plunged as the Dow Jones Industrial Average sank by 3000 points. 

					3/18/2020--------Canada and the U.S agreed to close its borders to all “non-essential traffic.”

					3/21/2020---------Coronavirus cases in New York State surpassed 10000.

					3/24/2020----------Chinese authorities announced that travel restrictions in and out of the city of Wuhan will be lifted on April 8.

					3/24/2020----------Coronavirus cases topped 50,000 in the U.S with 637 deaths nationawide.

					3/26/2020----------Deaths in the U.S passed 1000 as confirmed cases nationwide rose to more than 68100. 

					3/26/2020----------U.S coronavirus cases surpassed China. 

					3/27/2020----------British Prime Minister Boris Johnson tested positive for coronavirus

					3/28/2020----------The U.S death toll surpassed 2000 as the number of cases nationwide rose to more than 102000.

					3/29/2020----------The city of Wuhan, China, reopened subways and long-distance train service. 

					4/2/2020------------Deaths in New York surpassed 2000 while confirmed cases rose to 92,381.

					4/4/2020------------New York reported 10,841 new coronavirus cases in the past 24 hours. 

					4/6/2020------------The coronavirus death toll in the U.S surged past 10,000

					4/6/2020------------China reported its first day with no coronavirus deaths since the outbreak began.

					4/9/2020------------The number of confirmed coronavirus cases in New York reached 151,598 more than any country except the United States.

					4/9/2020------------For a total of 16 million American Workers filed first-time unemployment claims.

					4/9/2020------------Second coronavirus vaccine trial began in the U.S.

					4/9/2020------------New York reported 799 deaths from coronavirus in one day.

					4/9/2020-----------WHO warned that a premature lifting of lockdown restrictions by countries fighting the coronavirus could spark a “deadly resurgence”.

					4/11/2020----------Coronavirus deaths in the United States passed the 20000 marks, with over a half-million confirmed cases nationwide.

					4/12/2020----------New York City, the hardest-hit city in the U.S, saw its death toll surge past 6000. 

					4/13/2020----------New York state’s coronavirus death toll surpassed 10,000 after the daily fatality count rose by 671.

					------------TO BE CONTINUED…..
				</p>
			</div>
    </body>



</html>