<!DOCTYPE html>
<html>
	<head>
		<title> Spreading </title>

	</head>
	<body style="background: url(https://ae01.alicdn.com/kf/HTB1HThQyStYBeNjSspkq6zU8VXa3/colorful-Watercolor-Texture-backdrops-Vinyl-cloth-High-quality-Computer-print-wall-photo-studio-background.jpg_q50.jpg); background-size: 100% 100%;">
		<h1><p style='color:blue;'>How does it spread? &#128058;</p></h1>
			</br>
			<div>
				<p>
				It is a virus that can mainly be transmitted through infected people coughs, sneezes or exhales. People can be infected by breathing in the virus or touching a contaminated surface and then eyes, nose, or mouth. 
				</p>
			</div>
    </body>



</html>