<!DOCTYPE html>
<html>
	<head>
		<title> Useful Tips </title>
	</head>
		<body style="background: url(https://ae01.alicdn.com/kf/HTB1HThQyStYBeNjSspkq6zU8VXa3/colorful-Watercolor-Texture-backdrops-Vinyl-cloth-High-quality-Computer-print-wall-photo-studio-background.jpg_q50.jpg); background-size: 100% 100%;">
		<h1><p style='color:blue;'>Useful Tips? &#128058;</p></h1>
			</br>
			<p>
				<ul>
				</br>

				<li><h3>1. Clean your hands often, use soap, water or hand sanitizers to kill the bacteria on your hands. </h3></li>

				</br>

				<li><h3>2. Practice social distance, stay at least 6 feet from anyone you don’t know even if they are not sneezing or coughing since COVID-19 has a long incubation period.</h3></li>

				</br>

				<li><h3>3. Wear mask and gloves when you are going outside, especially in large affected areas such as New York City.</h3></li>

				</br>

				<li><h3>4. Stay home and avoid going outside.</h3></li>

				</br>

				<li><h3>5. Call in advance if you have a fever, cough, and difficulty breathing. 911 is always avilable to you.</h3></li>

				</ul>


			</p>
		</body>



	</head>
	
















</html>