<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Everything you need to know about Coronavirus</title>
    <meta name="description" content="Roughly 155 characters">
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="script.js"></script>
  </head>


  <body style="background: url(https://ae01.alicdn.com/kf/HTB1HThQyStYBeNjSspkq6zU8VXa3/colorful-Watercolor-Texture-backdrops-Vinyl-cloth-High-quality-Computer-print-wall-photo-studio-background.jpg_q50.jpg); background-size: 100% 100%;">
    <h1> <p style="color:#FF0000";>Coronavirus data search &#128128;</p></h1>

    <h2> <p>This website would tell you everything that you need to know about Coronavirus and better protect yourself &#128170;</p></h2>

   
      <li><a href='https://www.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6'>Global data (imported from CSSE JHU) </a></li>
    </br>
      <li><a href='http://localhost:3400/'>Country data search </a> </li>
    </br>
      <li><a href = 'http://127.0.0.1:3000/'>Increasing Rate Calculator</a></li>
    </br>
      <li><a href = 'http://datawrapper.dwcdn.net/O4lJm/1/'>Real-time data update</a></li>
    </br>

 
    <h2><p>Here is everything you should know. &#128064;</p></h2>
          <li><a href='file:///C:/Users/Administrator/Desktop/Final%20Project/python%20element/templates/What%20is%20coronavirus.html'>What is Coronavirus?</a></li>
          </br>
          <li><a href='file:///C:/Users/Administrator/Desktop/Final%20Project/python%20element/templates/Spreading.html'>How does it spread?</a></li>
          </br>
          <li><a href='file:///C:/Users/Administrator/Desktop/Final%20Project/python%20element/templates/tips.html'>How to protect yourself?</a></li>
          </br>
          <li><a href='file:///C:/Users/Administrator/Desktop/Final%20Project/python%20element/templates/coronavirus%20timeline.html'>
          Coronavirus Timeline</a></li>
          </br>

   
  </body>




</html>

