<!DOCTYPE html>
<html>
	<head>
		<title> Coronavirus </title>

	</head>
	<body style="background: url(https://ae01.alicdn.com/kf/HTB1HThQyStYBeNjSspkq6zU8VXa3/colorful-Watercolor-Texture-backdrops-Vinyl-cloth-High-quality-Computer-print-wall-photo-studio-background.jpg_q50.jpg); background-size: 100% 100%;">
		<h1><p style='color:blue;'>What is Coronavirus? &#128679;</p></h1>
			</br>
			<div>
				<p>
				It is caused by severe acute respiratory syndrome coronavirus 2. COVID-19 will mainly affect people’s respiratory system and eventually induce difficulty of breathing. People of all ages are vulnerable to this virus. However, the older the patients are the higher the death rate will be mainly because the elders have weak immune systems. 

				</p>
			</div>
    </body>



</html>